
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: url(./AdobeStock_166583833_Preview.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#increment-btn{
  padding: 15px;
  background-color: purple;
  border-radius: 7px;
  width: 200px;
  font-weight: 700;
  border: none;
  font-size: large;
  color: white;
}

#save-btn {
  padding: 15px;
  width: 200px;
  background-color: green;
  border-radius: 7px;
  font-weight: 700;
  margin-top: 10px;
  border: none;
  font-size: large;
  cursor: pointer;
  color: white;
}

#button-el {
  padding: 15px;
  width: 200px;
  background-color: green;
  border-radius: 7px;
  font-weight: 700;
  margin-top: 10px;
  border: none;
  font-size: large;
  cursor: pointer;
  color: white;
}

button{
  padding: 5px;
  width: 120px;
  background-color: green;
  border-radius: 7px;
  font-weight: 700;
  margin-top: 10px;
  border: none;
  font-size: large;
  cursor: pointer;
  color: white;
}

#save-el{
  margin-top: 10px;
  font-weight: bold;
  margin-top: 25px;
}

#sum-el {
  border: 2px solid green;
  padding: 10px 30px;
  background-color: green;
}

p{
  font-size: x-large;
  font-weight: 900;
  font-family: sans-serif;
}

h1, h2 {
  font-weight: 900;
  font-size: 70px;
}

#sub-el {
  width: 200px;
  padding: 15px;
}

@media (max-width: 720px) {
  h1{
    font-size: 60px;
  }
  h2 {
    font-size: 55px;
  }
}